%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps,
 [
   {cowboy,   "2.7.0"}
 , {yamerl,   "0.8.0"}
 , {jsx,      "3.0.0"}
 , {erlsom,   "1.5.0"}
 , {qdate,    "0.7.0"}
 , {gen_smtp, "1.0.1"}

 , {nitrogen_core,       {git, "https://github.com/bunnylushington/nitrogen_core", {tag, "master"}}}
 , {sync,                {git, "https://github.com/rustyio/sync",                  {ref, "master"}}}
 , {nitro_cache,         {git, "https://github.com/nitrogen/nitro_cache",          {ref, "master"}}}
 , {uuid,                {git, "https://github.com/avtobiff/erlang-uuid",          {ref, "cb02a20"}}}
 , {nxo_db,              {git, "https://gitlab.meei.harvard.edu/nxolib/nxo_db",  {ref, "main"}}}
 , {nxo_template,        {git, "https://gitlab.meei.harvard.edu/nxolib/nxo_template",  {ref, "main"}}}
 , {erlpass,             {git, "https://github.com/ferd/erlpass",                  {ref, "master"}}}
 ]}.

{post_hooks, [{compile, "mkdir -p priv/static/nitrogen"},
              {compile, "cp -r $REBAR_BUILD_DIR/lib/nitrogen_core/www/* priv/static/nitrogen"}]}.

{relx, [{release, {nxo, {git,short}}, [nxo]},
        {overlay, [{copy, "environment", "environment"}]},
        {dev_mode, false},
        {include_erts, false},
        {debug_info, keep},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true}]}.

{shell, [{apps, [nxo]},
         {env_file, "environment/dev.env"}]}.
