%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.
{deps,
 [
   {cowboy,          "2.9.0"}
 , {yamerl,          "0.10.0"}
 , {jsx,             "3.0.0"}
 , {qdate,           "0.7.0"}
 , {gen_smtp,        "1.2.0"}
 , {sync,            "0.2.0"}
 , {nitro_cache,     "0.4.1"}
 , {bbmustache,      "1.12.2"}
 , {erlpass,         "1.0.5"}
 , {nitrogen_core,       {git, "https://github.com/nitrogen/nitrogen_core",        {ref, "master"}}}
 , {uuid,                {git, "https://github.com/avtobiff/erlang-uuid",          {ref, "cb02a20"}}}
 , {nxo_db,              {git, "https://github.com/nxolib/nxo_db",                 {ref, "main"}}}
 , {nxo_template,        {git, "https://github.com/nxolib/nxo_template",           {ref, "main"}}}

 ]}.

{post_hooks, [{compile, "mkdir -p priv/static/nitrogen"},
              {compile, "cp -r $REBAR_BUILD_DIR/lib/nitrogen_core/www/* priv/static/nitrogen"}]}.

{relx, [{release, {nxo, {git,short}}, [nxo]},
        {overlay, [{copy, "environment", "environment"}]},
        {dev_mode, false},
        {include_erts, false},
        {debug_info, keep},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true}]}.

{shell, [{apps, [nxo]},
         {env_file, "environment/dev.env"}]}.
