<footer class="footer fixed-bottom">
  <div class="container-fluid mt-1">
    <div class="row align-items-center">

      <span class="col-lg-3 text-muted">
        Bare NXO Application
      </span>

      <span class="col-lg-3 text-center">
          [[[nxo_view:development_warning()]]]
      </span>

      <span class="col-lg-6 text-muted text-right">
          [[[nxo_view:database_development()]]]
          Version [[[ nxo:version() ]]]
      </span>

    </div>
  </div>
</footer>

<script nonce="[[[wf:script_nonce()]]]">
 [[[script]]]
</script>
