<footer class="footer fixed-bottom">
  <div class="container-fluid">
    <div class="row align-items-center">

      <span class="col text-muted">
        Bare NXO Application
      </span>

      <span class="col text-center">
          [[[nxo_view:development_warning()]]]
      </span>

      <span class="col text-muted text-right">
          [[[nxo_view:database_development()]]]
          Version [[[ nxo:version() ]]]
      </span>

    </div>
  </div>
</footer>

<script nonce="MR8pvZ87">
 [[[script]]]
</script>
