<meta charset="utf8" />
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="shortcut icon" type="image/png" href="/images/favicon-16x16.png" />

<script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>

<script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>

<script src='/nitrogen/livevalidation.min.js'
    type='text/javascript' charset='utf-8'></script>

<script src='/nitrogen/nitrogen.min.js'
    type='text/javascript' charset='utf-8'></script>

<script src='/nitrogen/bert.min.js'
    type='text/javascript' charset='utf-8'></script>

<link rel="stylesheet"
    href="/nitrogen/jquery-ui/jquery.ui.all.css"
    type="text/css" media="screen" charset="utf-8" />


<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
      integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
      crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
    integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>


<link rel="stylesheet" href="/css/all.css" />

<link rel="stylesheet" href="/nitrogen/nitrogen.css" />

<!-- local css overrides -->
<link rel="stylesheet" href="/css/bootstrap.css" />

<style nonce=[[[wf:script_nonce()]]]>
 [[[ nxo_view:development_watermark() ]]]
</style>
