<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[[[page:title()]]]</title>
    [[[ nxo_view:header() ]]]
  </head>

  <body>
    [[[ nxo_view:menu() ]]]
    <div class="container">
      [[[page:body()]]]

      <div>
        The seed username/password is
        <code>quux@example.com</code>/<code>quux</code>.
      </div>
      
      

      <p class="mx-3">
        <a href="/request_access">Request Access</a>
      </p>
      
    </div>

    
    [[[ nxo_view:footer() ]]]
    <script>
     [[[script]]]
    </script>
  </body>
</html>
