<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[[[page:title()]]]</title>
    [[[ nxo_view:header() ]]]
  </head>

  <body>
    [[[ nxo_view:menu() ]]]
    <div class="container">
        <h4>[[[page:title()]]]</h4>

        <div class="my-5 wfid_result">
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text"
                   value="[[[page:default()]]]"
                   class="form-control wfid_address"
                   id="address" />
        </div>

        [[[page:button()]]]



    </div>


    [[[ nxo_view:footer() ]]]
  </body>
</html>
