<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[[[page:title()]]]</title>
    [[[ nxo_view:header() ]]]
  </head>

  <body>
    [[[ nxo_view:menu() ]]]
    <div class="container">

        <div class="mx-auto card border-dark mt-5"
             style="max-width: 25rem;">
            <div class="card-header text-center h5">Request Received</div>
            <div class="card-body">
                <p class="card-text">
                    We have received your access request and will send email to the
                    address you have provided once your application has been processed.
                </p>
            </div>
        </div>


    </div>


    [[[ nxo_view:footer() ]]]
  </body>
</html>
