<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[[[page:title()]]]</title>
    [[[ nxo_view:header() ]]]
  </head>

  <body>
    [[[ nxo_view:menu() ]]]
      <div class="container">
          <h3>Add a Directory User</h3>

        <form class="col-sm-6 mb-5">
            <div class="form-group">
                <label for="organization">Organization</label>
                [[[ page:organization_list() ]]]
            </div>

            <div class="form-group">
                <label for="ad">Email, Last Name, or ID</label>
                [[[ page:usersearch() ]]]
            </div>
        </form>

        <div class="wfid_userinfo">
        </div>
    </div>


    [[[ nxo_view:footer() ]]]
  </body>
</html>
