
<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
         .ui-autocomplete{ z-index: 2000 !important; }
        </style>

        <title>[[[page:title()]]]</title>
        [[[ nxo_view:header() ]]]
    </head>

    <body>
        [[[ nxo_view:menu() ]]]
        <div class="container-fluid">
            <h2>[[[page:title()]]]</h2>
            <div class="wfid_body">
                [[[page:body()]]]
            </div>
        </div>

        [[[ nxo_view:footer() ]]]
    </body>
</html>
