<!DOCTYPE html>
<html lang="en">
  <head>
    <title>[[[page:title()]]]</title>
    [[[ nxo_view:header() ]]]
  </head>

  <body>
    [[[ nxo_view:menu() ]]]
      <div class="container">
          <div>
              <a href="/users">Return to User List</a>
          </div>
          <p class="h2 my-4">[[[page:title()]]]</p>

          <form class="col-sm-6 mb-5">

              <input type="hidden"
                     class="wfid_samaccountname"
                     value="[[[nxo_forms:form_value(sam_account_name)]]]" />

              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text"
                         value="[[[nxo_forms:form_value(email)]]]"
                         class="form-control wfid_email"
                         id="email" />
                  <div class="invalid-feedback" >
                      Required field; must be unique.
                  </div>
                  <small class="form-text text-muted">
                      Required.
                  </small>
              </div>

              <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text"
                         value="[[[nxo_forms:form_value(first_name)]]]"
                         class="form-control wfid_first_name"
                         id="first_name" />
                  <div class="invalid-feedback">
                      Required field.
                  </div>
                  <small class="form-text text-muted">
                      Required.
                  </small>
              </div>

              <div class="form-group">
                  <label for="last_name">Last Name</label>
                  <input type="text"
                         value="[[[nxo_forms:form_value(last_name)]]]"
                         class="form-control wfid_last_name"
                         id="last_name" />
                  <div class="invalid-feedback">
                      Required field.
                  </div>
                  <small class="form-text text-muted">
                      Required.
                  </small>
              </div>

              <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text"
                         value="[[[nxo_forms:form_value(description)]]]"
                         class="form-control wfid_description"
                         id="description" />
                  <small class="form-text text-muted">
                      Optional note.
                  </small>
              </div>

              <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input tpe="text"
                         value="[[[nxo_forms:form_value(phone)]]]"
                         class="form-control wfid_phone"
                         id="phone" />
                  <small class="form-text text-muted">
                      Optional; if present must include 10 digits.
                  </small>
              </div>

              <div class="form-group">
                  <label for="active">Account Active</label>
                  <select class="custom-select wfid_active"
                          id="active">
                      <option value="true"
                              [[[nxo_forms:bool_selected(active, true)]]]>
                          Yes
                      </option>
                      <option value="false"
                              [[[nxo_forms:bool_selected(active, false)]]]>
                          No
                      </option>
                  </select>
              </div>


              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="text"
                         class="form-control wfid_password"
                         value="[[[nxo_forms:form_value(password)]]]"
                         id="password" />
              </div>


              [[[page:group_form()]]]

              [[[page:submit_button()]]]

          </form>



    </div>


    [[[ nxo_view:footer() ]]]
  </body>
</html>
